# This file need to be manually keeped update with pyproject.toml
mysql-connector-python>=8.0.30
six>=1.16.0
PyHamcrest>=2.0.4
requests>=2.28.1
environs>=9.5.0
fire==0.4.0

# Clickhouse sqlalchemy
https://github.com/youngsofun/clickhouse-sqlalchemy/archive/a116e3162c699c12e63a689385b547f639c13018.zip
