.tooltip {
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: -40px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%) translateY(5px);
  background-color: var(--color-bg-5);
  color: #fff;
  padding: 4px 12px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  &.visible {
    z-index: 2;
    opacity: 1;
    transform: translateX(-50%);
  }
}