# Global rule
*    @BohuTANG

# Query
/common/arrow/ @databend-query-reviewer
/common/arrow/ @databend-query-reviewer
/common/datablocks/ @databend-query-reviewer
/common/datavalues/ @databend-query-reviewer
/common/functions/ @databend-query-reviewer
/common/io/ @databend-query-reviewer
/common/management/ @databend-query-reviewer
/common/streams/ @databend-query-reviewer

# Executor
/query/src/clusters/ @databend-executor-reviewer
/query/src/pipelines/ @databend-executor-reviewer
/query/src/api/rpc/ @databend-executor-reviewer
/common/base/  @databend-executor-reviewer
/common/exception/  @databend-executor-reviewer
/common/planners/  @databend-executor-reviewer

# Planner
/common/ast/ @databend-planner-reviewer
/query/src/optimizers/ @databend-planner-reviewer

# MetaSrv
/metasrv/ @databend-meta-reviewer
/common/meta/ @databend-meta-reviewer
common/grpc/ @databend-meta-reviewer

# Storage
/common/cache/
/query/src/catalogs/ @databend-storage-reviewer
/query/src/storages/ @databend-storage-reviewer


# Website rule
/website/  @databend-document-reviewer
/docs/ @databend-document-reviewer

# Tool
/docker/ @databend-tool-reviewer
/scripts/ @databend-tool-reviewer
/.github/ @databend-tool-reviewer
