# Query
/src/common/arrow/         @databendlabs/databend-query-reviewer
/src/common/hashtable/     @databendlabs/databend-query-reviewer
/src/common/io/            @databendlabs/databend-query-reviewer
/src/query/datablocks/     @databendlabs/databend-query-reviewer
/src/query/datavalues/     @databendlabs/databend-query-reviewer
/src/query/functions/      @databendlabs/databend-query-reviewer
/src/query/management/     @databendlabs/databend-query-reviewer
/src/query/streams/        @databendlabs/databend-query-reviewer

# Executor
/src/common/base/                  @databendlabs/databend-executor-reviewer
/src/common/exception/             @databendlabs/databend-executor-reviewer
/src/query/planners/               @databendlabs/databend-executor-reviewer
/src/query/service/src/clusters/   @databendlabs/databend-executor-reviewer
/src/query/service/src/pipelines/  @databendlabs/databend-executor-reviewer
/src/query/service/src/api/rpc/    @databendlabs/databend-executor-reviewer

# Planner
/src/query/ast/                       @databendlabs/databend-planner-reviewer
/src/query/service/src/optimizers/    @databendlabs/databend-planner-reviewer

# MetaSrv
/src/common/grpc/         @databendlabs/databend-meta-reviewer
/src/meta/                @databendlabs/databend-meta-reviewer
/src/meta/protos/proto    @drmingdrmer

# Storage
/src/common/cache/                 @databendlabs/databend-storage-reviewer
/src/common/contexts/              @databendlabs/databend-storage-reviewer
/src/common/storage/               @databendlabs/databend-storage-reviewer
/src/query/catalog/                @databendlabs/databend-storage-reviewer
/src/query/storages/               @databendlabs/databend-storage-reviewer
/src/query/service/src/catalogs/   @databendlabs/databend-storage-reviewer
/src/query/service/src/storages/   @databendlabs/databend-storage-reviewer


# API and handler
/src/common/http/                  @databendlabs/databend-api-reviewer
/src/query/service/src/servers/    @databendlabs/databend-api-reviewer

# Tool
/docker/               @databendlabs/databend-tool-reviewer
/scripts/              @databendlabs/databend-tool-reviewer
/.github/              @databendlabs/databend-tool-reviewer
