# Query
/common/arrow/         @datafuselabs/databend-query-reviewer
/common/arrow/         @datafuselabs/databend-query-reviewer
/common/datablocks/    @datafuselabs/databend-query-reviewer
/common/datavalues/    @datafuselabs/databend-query-reviewer
/common/functions/     @datafuselabs/databend-query-reviewer
/common/io/            @datafuselabs/databend-query-reviewer
/common/management/    @datafuselabs/databend-query-reviewer
/common/streams/       @datafuselabs/databend-query-reviewer

# Executor
/query/src/clusters/   @datafuselabs/databend-executor-reviewer
/query/src/pipelines/  @datafuselabs/databend-executor-reviewer
/query/src/api/rpc/    @datafuselabs/databend-executor-reviewer
/common/base/          @datafuselabs/databend-executor-reviewer
/common/exception/     @datafuselabs/databend-executor-reviewer
/common/planners/      @datafuselabs/databend-executor-reviewer

# Planner
/common/ast/           @datafuselabs/databend-planner-reviewer
/query/src/optimizers/ @datafuselabs/databend-planner-reviewer

# MetaSrv
/metasrv/              @datafuselabs/databend-meta-reviewer
/common/meta/          @datafuselabs/databend-meta-reviewer
common/grpc/           @datafuselabs/databend-meta-reviewer

# Storage
/common/cache/         @datafuselabs/databend-storage-reviewer
/query/src/catalogs/   @datafuselabs/databend-storage-reviewer
/query/src/storages/   @datafuselabs/databend-storage-reviewer


# API and handler
/query/src/servers/    @datafuselabs/databend-api-reviewer

# Website
/website/              @datafuselabs/databend-document-reviewer
/docs/                 @datafuselabs/databend-document-reviewer

# Tool
/docker/               @datafuselabs/databend-tool-reviewer
/scripts/              @datafuselabs/databend-tool-reviewer
/.github/              @datafuselabs/databend-tool-reviewer
