.consenWrap{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 10, 54);
  box-shadow: 0px 0px 24px -5px #000;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  animation-name: slideBottom;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-delay: normal;
  animation-iteration-count: 1;
  p{
    margin-bottom: 0;
    font-size: 16px;
  }
  .right{
    display: flex;
    align-items: center;
  }
  .button{
    cursor: pointer;
    background: #1890ff;
    color: #fff;
    border: none !important;
    margin: 0 8px;
    padding: 8PX 24PX;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18PX;
    &:hover{
      background-color: #2976d4;
    }
  }
  .close{
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
}


@keyframes slideBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}