.wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid hsl(var(--border));
}
.plain {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1rem;
  padding: 0.125rem 0.625rem;
  border-color: transparent;
  border-radius: calc(var(--radius) - 2px);
  align-items: center;
  display: inline-flex;
  color: hsl(var(--foreground));
  border:1px solid hsl(var(--border));
  svg{
    margin-right: 0.5rem;
  }
  &.Enterprise {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
}
