@use "sass:math";

// function
@function mpx($px:0){
  @return math.div($px*1920,375)+px;
}
$phoneW:997px;
@mixin media($phone:$phoneW){
  @media screen and (max-width: $phone) {
    @content;
  }
}
@mixin min-media($width:3000px){
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin pm{
  [data-pc]{display:block;}
  [data-phone]{display:none;}
  @include media{
    [data-pc]{display:none;}
    [data-phone]{display:block;}
  }
  @content;
}

@mixin box($direction:row,$align:flex-start,$justify:flex-start){
    display:flex;
    flex-direction:$direction;
    align-items:$align;
    justify-content:$justify;
}
@mixin box-c{
  @include box($direction:row,$align:center,$justify:center);
}
@mixin align-c{
  @include box($direction:row,$align:center,$justify:flex-start);
}
@mixin align-s{
  @include box($direction:row,$align:flex-start,$justify:flex-start);
}
@mixin justify-c{
  @include box($direction:row,$align:flex-start,$justify:center);
}
@mixin box-column{
  @include box($direction:column,$align:flex-start,$justify:flex-start);
}
@mixin box-column-e{
  @include box($direction:column,$align:flex-end,$justify:flex-start);
}
@mixin box-column-c{
  @include box($direction:column,$align:center,$justify:center);
}
@mixin align-column-c{
  @include box($direction:column,$align:center,$justify:flex-start);
}
@mixin justify-column-c{
  @include box($direction:column,$align:flex-start,$justify:center);
}
@mixin box-flex {flex: 1;}
@mixin box-shadow($shadow:5px,$color:$borColor-3){
    box-shadow:0 0 $shadow 0 $color;
}
@mixin ellipsis($line:1){
  @if $line==1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin ellipse-n($line-num: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-num;
  overflow: hidden;
}
.fontSize12{
  font-size: 12px;
}
.fontSize14{
  font-size: 14px;
}
.fontSize16{
  font-size: 16px;
}
.fontSize18{
  font-size: 18px;
}
.fontSize20{
  font-size: 20px;
}
.fontSize22{
  font-size: 22px;
}
.fontSize24{
  font-size: 24px;
}
.fontSize26{
  font-size: 26px;
}
.fontSize28{
  font-size: 28px;
}
.fontSize30{
  font-size: 30px;
}