
.breadcrumbs__item--active .breadcrumbs__link{
  font-weight: var(--ifm-font-weight-semibold);
}
.breadcrumbs__link {
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--breadcrumbs-item);
}
.breadcrumbs__item--active .breadcrumbs__link {
  background: unset;
  color: var(--breadcrumbs-item-active);
  font-weight: 600;
  white-space: nowrap;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}