@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Black.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Black.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 250;
  src: local('Roboto Thin'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Thin';
  font-style: italic;
  font-weight: 250;
  src: local('Roboto Thin'), url('https://fonts.cdnfonts.com/s/12165/Roboto-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light'), url('https://fonts.cdnfonts.com/s/12165/Roboto-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Medium';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium'), url('https://fonts.cdnfonts.com/s/12165/Roboto-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), url('https://fonts.cdnfonts.com/s/12165/Roboto-Black.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Black';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black'), url('https://fonts.cdnfonts.com/s/12165/Roboto-BlackItalic.woff') format('woff');
}

