.markdown {
  table {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  p+img, h2+img, h3+img {
    margin-top: 1.5rem;
  }
  .tabs {
    margin-top: 1.5rem;
    border-bottom: 1px solid hsl(var(--border));
    font-weight: 600;
    .tabs__item {
      padding: 0.5rem 1rem 0.75rem;
      &.tabs__item--active {
        border-color: rgb(59 130 246);
      }
    }
  }
  > p {
    margin-top: 1.5rem!important;
    margin-bottom: 0!important;
    &:first-child{
      margin-top: 1rem!important;
    }
    line-height: 1.75rem;
  }
  > h2 {
    letter-spacing: -.025em;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    scroll-margin: 5rem;
    margin-top: 3rem;
    border-bottom: 1px solid hsl(var(--border));
    margin-bottom: 0;
  }
  > h3 {
    letter-spacing: -.025em;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    scroll-margin: 5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
.theme-doc-markdown.markdown{
  .token.plain {
    color: var(--shiki-color-text);
  }
  pre code {
    font-size: 1rem;
  }
  header+h2{
    margin-top: 1.5rem;
  }
  a{
    text-underline-position: from-font;
    font-weight: 500;
    text-decoration-line: underline;
    color: var(--text-blue-600);
    text-underline-offset: 4px;
    line-height: 1.75rem;
  }
  code{
    font-size: .875rem;
    line-height: 1.25rem;
    border: unset;
    padding: 0.2rem 0.3rem;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    border-radius: 3px;  
    background-color: hsl(var(--muted));
    border-radius: 0.25rem;
  }
  h1 {
    font-size: 2.25rem;
  }
  h1:first-child {
    font-size: 2.25rem;
    line-height: 2.5rem;
    scroll-margin: 5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  img{
    object-fit: contain;
    max-height: 520px;
    width: auto;
    border-radius: 6px;
    padding: 0.6rem;
    border: 1px solid hsl(var(--border));
    background-color: var(--color-bg-1);
  }
  table{
    tr, th{
      font-size: 1rem;
    }
   thead tr{
    border: 1px solid hsl(var(--border));
   }
  }
  div[class^="codeBlockContainer"]{
    box-shadow: unset;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    &:has(.language-text) {
      background-color: hsl(var(--muted));
    }
  }
  code[class^="codeBlockLines"] {
    padding: 1rem;
    font-size: 0.9em;
    border-radius: calc(var(--radius) - 2px);
    border: 1px solid hsl(var(--border));
  }
  div[class^="language-"]{
    // --prism-background-color: var(--color-bg-5)!important;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: unset;
    background-color: unset;
    pre {
      background-color: unset;
    }
    div[class^="codeBlockTitle_"] {
      border: 1px solid hsl(var(--border));
      font-size: .75rem;
      line-height: 1rem;
      padding: 0.5rem;
      background-color: var(--bg-code-title-bg);
      background: var(--prism-background-color2)!important;
      color: var(--prism-color2);
      +div {
        code {
          border-top: unset;
          border-top-left-radius: unset;
          border-top-right-radius: unset;
        }
      }
    }
    code{
      padding: 1rem;
      font-size: .9em;
      border-radius: calc(var(--radius) - 2px);
      border: 1px solid hsl(var(--border));
      .token{
        color: var(--ifm-font-color-base)!important;
        font-family: 'Source Code Pro', monospace;
        font-size: 0.9rem;
        line-height: 1.6rem;
        font-weight: 500;
        &.keyword{
          color: var(--shiki-token-keyword)!important;
        }
        &.string, &.important {
          color: var(--shiki-token-string)!important;
        }
        &.operator,&.function{
          color: var(--shiki-token-function)!important;
        }
        &.boolean {
          color: purple!important;
        }
        &.comment{
          color: var(--shiki-token-comment)!important;
        }
        &.number {
          color: var(--shiki-token-constant)!important;
        }
        &.plain {
          color: var(--shiki-color-text)!important;
        }
        &.variable, &.builtin {
          color: var(--shiki-color-text)!important;
        }
        &.property, &.atrule {
          color: rgb(54, 172, 170)!important;
        }
      }
    }
  }

  button{
    background-color: var(--bg-copy-button-white);
    border: none;
    &:hover{
      background-color: var(--bg-hover-copy);
      opacity: 1;
      color: #fff!important;
    }
  }
  .theme-code-block:hover {
    button {
      opacity: 1!important;
      color: #000;
    }
  }

  .DOCITEM-PAGE-EE-TIPS-BEFORE-DOM,
  .DOCITEM-PAGE-FUNCTION-DESCRIPTION-DOM {
    margin-bottom: 0 !important;
    border-bottom: unset !important;

  }
}


// margin
.margin-top--lg{
  --ifm-card-border-radius: 0.5rem;
  .card.padding--lg{
    padding: 1rem!important;
    box-shadow: none!important;
    h2.text--truncate{
      font-size: 1rem!important;
    }
  }
  .col{
    padding: 0 0.25rem;
    &.col--6.margin-bottom--lg{
      margin-bottom: 0.5rem!important;
    }
  }
  .row{
    padding: 0 0.5rem!important;
  }
}


.DOCITEM-PAGE-EE-TIPS {
  margin-top: 1.5rem!important;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 12px;
  margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading));
}

.DOCITEM-PAGE-FUNCTION-DESCRIPTION-DOM {
  padding-bottom: 0 !important;
}
