.pagination-nav__link{
  border: none;
  background-color: var(--color-fill-0);
  &:hover{
    background-color: var(--color-fill-1);
  }
}
.pagination-nav{
  padding-top: 40px;
  border-top: 1px solid hsl(var(--border));
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.footer{
  border-top: 1px solid hsl(var(--border));
  p {
    margin-bottom: 0;
  }
}

.footer-bottom-number {
  @include media {
    flex-direction: column;
    align-items: flex-start;
    span {
      margin-bottom: 0.25rem;
    }
  }
}