.steps-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  .step-container:not(:first-child){
    .step-number {
      margin-top: 2rem;
    }
  }
  .step-container {
    padding-left: 2rem;
    border-left: 1px solid hsl(var(--border));
    .step-number {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      h3{
        width: 100%;
        margin-bottom: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
        position: relative;
        display: flex;
        align-items: center;
        scroll-margin: 5rem;
        top: -3px;
        letter-spacing: -.025em;
        font-weight: 600;
        color: var(--h3-title-color);
        &:hover {
          a {
            svg {
              display: block;
            }
          }
        }
        a{
          margin-left: 0.5rem;
          display: flex;
          line-height: 28px;
          svg {
            display: none;
          }
        }
       
      }
      span{
        display: flex;
        height: 2.25rem;
        width: 2.25rem;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        border: 4px solid hsl(var(--background));;
        background-color: hsl(var(--muted));
        text-align: center;
        text-indent: -1px;
        font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin-left: -50px;
        margin-top: -4px;
      
      }
    }
  }
}
.tabs-container {
  margin-bottom: 0!important;
}