/* You can override the default Infima variables here. */
:root {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);

  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
  --h3-title-color: rgb(15 23 42);
  --bg-blue-100: rgb(219 234 254);
  --border-blue-200: rgb(191 219 254);
  --shiki-token-comment: oklch(73.8% 0 0);
  --shiki-token-string: oklch(54.64% 0.144 147.32);
  --shiki-token-keyword: oklch(56.8% 0.2 26.41);
  --shiki-token-function: oklch(50.15% 0.188 294.99);
  --shiki-token-constant: oklch(56.45% 0.163 253.27);
  --shiki-color-text: oklch(37.53% 0 0);
  --bg-copy-button-white: #fff;
  --bg-hover-copy: rgb(63 63 70);
  --text-blue-600: rgb(37 99 235);
  --text-blue-800:  rgb(30 64 175);
  --border-orange-100: rgb(255 237 213)
  --bg-code-title-bg: #fff;
  --border-b-blue-500: rgb(59 130 246);
  --ifm-tabs-color-active: hsl(var(--foreground));

  --bg-orange-warning: rgb(255 247 237);
  --bg-orange-warning-border: rgb(255 237 213);
  --bg-orange-warning-text: rgb(154 52 18);
  --bg-yellow-warning:  rgb(254 252 232);
  --bg-yellow-warning-border: rgb(254 249 195);
  --bg-yellow-left-warning-border: rgb(245 228 86);
  --bg-yellow-warning-text: rgb(113 63 18);
  --breadcrumbs-item:  rgb(107 114 128);
  --breadcrumbs-item-active: rgb(55 65 81);
  --doc-index-list-icon-bg: rgb(248 250 252);
  --card-hover-color: rgb(59 130 246);
  
  // mark
  ::selection {
    color: #fff;
    background: var(--color-primary);
    cursor: none;
    outline: none;
  }
  --ifm-font-family-base: Popins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
  --color-bg-0 : rgba(247,248,250,1.00);
  --color-bg-1 : rgba(255,255,255,1.00);
  --color-bg-2 : rgba(255,255,255,1.00);
  --color-bg-3 : rgba(255,255,255,1.00);
  --color-bg-4 : rgba(255,255,255,1.00);
  --color-bg-5 : rgba(0,3,10,1.00);
  --color-info : rgba(1,118,248,1.00);
  --color-info-hover : rgba(0,97,212,1.00);
  --color-info-active : rgba(0,78,177,1.00);
  --color-info-disabled : rgba(152,204,252,1.00);
  --color-link : rgba(1,118,248,1.00);
  --color-link-hover : rgba(0,97,212,1.00);
  --color-link-active : rgba(0,78,177,1.00);
  --color-link-visited : rgba(1,118,248,1.00);
  --color-nav-bg : rgba(255,255,255,1.00);
  --color-black : rgba(0,0,0,1.00);
  --color-fill-0 : rgba(220,227,239,0.25);
  --color-fill-1 : rgba(220,227,239,0.40);
  --color-fill-2 : rgba(220,227,239,0.60);
  --color-text-0 : rgba(0,14,41,1.00);
  --color-text-1 : rgba(12,22,43,0.80);
  --color-text-2 : rgba(12,22,43,0.60);
  --color-text-3 : rgba(12,22,43,0.35);
  --color-white : rgba(255,255,255,1.00);
  --color-border : rgba(1,14,41,0.08);
  --color-danger : rgba(247,57,32,1.00);
  --color-danger-hover : rgba(211,37,21,1.00);
  --color-danger-active : rgba(176,20,12,1.00);
  --color-shadow : rgba(0,0,0,0.04);
  --color-default : rgba(249,249,249,1.00);
  --color-default-hover : rgba(230,232,234,1.00);
  --color-default-active : rgba(198,202,205,1.00);
  --color-primary : rgba(1,117,246,1.00);
  --color-primary-hover : rgba(0,96,210,1.00);
  --color-primary-active : rgba(0,77,175,1.00);
  --color-primary-disabled : rgba(151,204,251,1.00);
  --color-success : rgba(59,179,71,1.00);
  --color-success-hover : rgba(48,149,60,1.00);
  --color-success-active : rgba(37,119,48,1.00);
  --color-success-disabled : rgba(164,225,167,1.00);
  --color-warning : rgba(250,136,1,1.00);
  --color-warning-hover : rgba(208,103,0,1.00);
  --color-warning-active : rgba(167,74,0,1.00);
  --color-tertiary : rgba(107,112,117,1.00);
  --color-tertiary-hover : rgba(85,91,97,1.00);
  --color-tertiary-active : rgba(65,70,76,1.00);
  --color-focus-border : rgba(1,117,246,1.00);
  --color-overlay-bg : rgba(0,16,51,0.60);
  --color-secondary : rgba(1,118,248,1.00);
  --color-secondary-hover : rgba(0,97,212,1.00);
  --color-secondary-active : rgba(0,78,177,1.00);
  --color-secondary-disabled : rgba(152,204,252,1.00);
  --color-disabled-bg : rgba(230,232,234,1.00);
  --color-disabled-fill : rgba(46,50,56,0.04);
  --color-disabled-text : rgba(28,31,35,0.35);
  --color-disabled-border : rgba(230,232,234,1.00);
  --color-info-light-hover : rgba(203,230,254,1.00);
  --color-info-light-active : rgba(152,204,252,1.00);
  --color-info-light-default : rgba(234,245,254,1.00);
  --color-danger-light-hover : rgba(253,220,209,1.00);
  --color-danger-light-active : rgba(252,183,164,1.00);
  --color-danger-light-default : rgba(254,242,237,1.00);
  --color-primary-light-hover : rgba(203,230,253,1.00);
  --color-primary-light-active : rgba(151,204,251,1.00);
  --color-primary-light-default : rgba(234,245,254,1.00);
  --color-success-light-hover : rgba(208,240,209,1.00);
  --color-success-light-active : rgba(164,225,167,1.00);
  --color-success-light-default : rgba(236,247,236,1.00);
  --color-warning-light-hover : rgba(254,238,203,1.00);
  --color-warning-light-active : rgba(253,217,152,1.00);
  --color-warning-light-default : rgba(255,248,234,1.00);
  --color-tertiary-light-hover : rgba(230,232,234,1.00);
  --color-tertiary-light-active : rgba(198,202,205,1.00);
  --color-tertiary-light-default : rgba(249,249,249,1.00);
  --color-secondary-light-hover : rgba(203,230,254,1.00);
  --color-secondary-light-active : rgba(152,204,252,1.00);
  --color-secondary-light-default : rgba(234,245,254,1.00);
  --ifm-color-primary: var(--text-blue-800);
  --ifm-color-primary-dark:  var(--color-primary);
  --ifm-color-primary-darker:  var(--color-primary-hover);
  --ifm-color-primary-darkest:  var(--color-primary-active);
  --ifm-color-primary-light: var(--color-primary-light-default);
  --ifm-color-primary-lighter: var(--color-primary-light-hover);
  --ifm-color-primary-lightest: var(--color-primary-light-active);
  --ifm-color-success-dark: var(--color-primary);
  --ifm-color-success-darker: var(--color-primary-hover);
  --ifm-color-success-darkest:var(--color-primary-active);
  --ifm-color-success-light: var(--color-primary-light-default);
  --ifm-color-success-lighter: var(--color-primary-light-hover);
  --ifm-color-success-lightest: var(--color-primary-light-active);
  --ifm-color-success-contrast-background: var(--color-primary-light-default);
  --ifm-color-success-contrast-foreground: var(--color-primary-active);
  --ifm-background-color:var(--color-bg-1)!important;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-container-width: calc(100%-80px);
  --ifm-container-width-xl: calc(100%-80px);
  --ifm-heading-color:var(--color-text-0);
  --ifm-color-content:var(--color-text-0);
  --ifm-menu-color:var(--color-text-0);
  --ifm-menu-color-background-active: var(--bg-blue-100);
  --ifm-menu-color-background-hover: var(--color-fill-1);
  --ifm-font-weight-bold: 700;
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-toc-link-color:var(--color-text-2);
  --ifm-toc-border-color: hsl(var(--border))!important;
  --ifm-breadcrumb-item-background-active: var(--color-fill-1);
  --docusaurus-tag-list-border: hsl(var(--border))!important;
  --ifm-code-background: var(--color-bg-1);
  --ifm-table-border-color: hsl(var(--border));
  --ifm-table-stripe-background: hsl(var(--muted));
  --ifm-navbar-shadow:0 1px 0px hsl(var(--border))!important;
  --ifm-navbar-background-color:var(--color-bg-1);
  --ifm-footer-padding-vertical: 1.2rem;
  --ifm-footer-background-color:var(--color-fill-0);
  --ifm-footer-color: var(--color-text-1);
  --search-local-modal-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 4px 6px rgba(0, 0, 0, 0.1);
  --search-local-modal-background:var(--color-bg-1);
  --ifm-color-content-secondary: hsl(var(--border));
  --ifm-font-color-base: rgb(15 23 42);
  --ifm-menu-color-active: var(--text-blue-800);
  --ifm-table-cell-padding: 0.5rem 1rem;
  --ifm-table-cell-color: var(--foreground);
  --ifm-breadcrumb-color-active: var(--text-blue-800);
  --ifm-tabs-color: hsl(var(--muted-foreground));
  --ifm-tabs-color-active-border: rgb(59 130 246)!important;
  --ifm-alert-border-color: rgb(59 130 246);
  --ifm-list-left-padding: 1.5rem;
  --ifm-breadcrumb-spacing: 0;
  --ifm-h1-font-size: 2.25rem;
  --ifm-card-border-radius: calc(var(--radius) - 2px);
  --ifm-card-background-color: #fff;
  --ifm-color-primary: var(--card-hover-color);
  --ifm-try-card-free: var(--ifm-menu-color-background-active);
  --ifm-bg-cell: linear-gradient(90deg, rgb(171 171 171 / 5%) 1px, transparent 0), linear-gradient(180deg, rgb(171 171 171 / 5%) 1px, transparent 0);
  --ifm-mobile-bg-header: #f7f7fb;
  --databend-tool-bg: var(--color-bg-5);
  --color-primary-light-card:  rgba(234, 245, 254, 1.00);
  --orange-5: #FA8801;
  --blue-5: #0176F8;
  --indigo-5: rgb(94, 110, 195);
  --prism-color2: #393A34;
  --prism-background-color2: #fff;;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
--background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  --radius: 0.5rem;
  --h3-title-color: rgb(241 245 249);
  --bg-blue-100: rgba(30,58,138,.3);
  --border-blue-200: rgba(191,219,254,.3);
  --shiki-token-comment: oklch(55.18% 0.017 251.27);
  --shiki-token-string: oklch(81.11% 0.124 55.08);
  --shiki-token-keyword: oklch(72.14% 0.162 15.49);
  --shiki-token-function: oklch(72.67% 0.137 299.15);
  --shiki-token-constant: oklch(76.85% 0.121 252.34);
  --shiki-color-text: oklch(86.07% 0 0);
  --bg-copy-button-white: rgb(63 63 70);
  --bg-hover-copy: rgb(63 63 70);
  --text-blue-600: rgb(37 99 235);
  --text-blue-800:  rgb(37 99 235);
  --border-orange-100: rgb(255 237 213);
  --bg-code-title-bg: rgba(147,197,253,.1);
  --bg-orange-warning: rgba(251,146,60,.2);
  --border-orange-100: rgb(255 237 213);
  --bg-orange-warning-border: rgba(251,146,60,.3);
  --bg-orange-warning-text: rgb(253 186 116);
  --bg-yellow-warning: rgba(161,98,7,.3);
  --bg-yellow-warning-border: hsla(53,98%,77%,.3);
  --bg-yellow-warning-text: rgb(254 240 138);
  --breadcrumbs-item:  rgb(156 163 175);
  --breadcrumbs-item-active: rgb(243 244 246);
  --doc-index-list-icon-bg: rgb(15 23 42);
  
  // mark
  --color-bg-0 : rgba(0,3,10,1.00);
  --color-bg-1 : rgba(18,24,38,1.00);
  --color-bg-2 : rgba(0,4,13,1.00);
  --color-bg-3 : rgba(67,68,74,1.00);
  --color-bg-4 : rgba(79,81,89,1.00);
  --color-bg-5 : rgba(18,24,38,1.00);
  --color-disabled-bg : rgba(46,50,56,1.00);
  --color-bg-overlay : rgba(22,22,26,0.60);
  --color-info : rgba(51,148,249,1.00);
  --color-info-hover : rgba(101,177,251,1.00);
  --color-info-active : rgba(152,204,252,1.00);
  --color-info-disabled : rgba(0,78,177,1.00);
  --color-link : rgba(51,148,249,1.00);
  --color-link-hover : rgba(101,177,251,1.00);
  --color-link-active : rgba(152,204,252,1.00);
  --color-link-visited : rgba(51,148,249,1.00);
  --color-nav-bg : rgba(35,36,41,1.00);
  --color-black : rgba(0,0,0,1.00);
  --color-fill-0 : rgba(121,148,191,0.05);
  --color-fill-1 : rgba(255,255,255,0.09);
  --color-fill-2 : rgba(255,255,255,0.13);
  --color-fill-disabled : rgba(230,232,234,0.04);
  --color-disabled-text : rgba(249,249,249,0.35);
  --color-text-0 : rgba(249,249,249,1.00);
  --color-text-1 : rgba(249,249,249,0.80);
  --color-text-2 : rgba(249,249,249,0.60);
  --color-text-3 : rgba(249,249,249,0.35);
  --color-white : rgba(228,231,245,1.00);
  --color-border : rgba(255,255,255,0.12);
  --color-border-disabled : rgba(46,50,56,1.00);
  --color-focus-border : rgba(50,147,248,1.00);
  --color-danger : rgba(249,101,75,1.00);
  --color-danger-hover : rgba(250,143,120,1.00);
  --color-danger-active : rgba(252,183,164,1.00);
  --color-shadow : rgba(0,0,0,0.04);
  --color-default : rgba(28,31,35,1.00);
  --color-default-hover : rgba(46,50,56,1.00);
  --color-default-active : rgba(65,70,76,1.00);
  --color-primary : rgba(50,147,248,1.00);
  --color-primary-hover : rgba(100,176,250,1.00);
  --color-primary-active : rgba(151,204,251,1.00);
  --color-primary-disabled : rgba(0,77,175,1.00);
  --color-success : rgba(90,194,99,1.00);
  --color-success-hover : rgba(125,209,131,1.00);
  --color-success-active : rgba(164,225,167,1.00);
  --color-success-disabled : rgba(37,119,48,1.00);
  --color-warning : rgba(251,166,51,1.00);
  --color-warning-hover : rgba(252,193,101,1.00);
  --color-warning-active : rgba(253,217,152,1.00);
  --color-tertiary : rgba(136,141,146,1.00);
  --color-tertiary-hover : rgba(167,171,176,1.00);
  --color-tertiary-active : rgba(198,202,205,1.00);
  --color-secondary : rgba(51,148,249,1.00);
  --color-secondary-hover : rgba(101,177,251,1.00);
  --color-secondary-active : rgba(152,204,252,1.00);
  --color-secondary-disabled : rgba(0,78,177,1.00);
  --color-info-light-hover : rgba(51,148,249,0.30);
  --color-info-light-active : rgba(51,148,249,0.40);
  --color-info-light-default : rgba(51,148,249,0.20);
  --color-danger-light-hover : rgba(249,101,75,0.30);
  --color-danger-light-active : rgba(249,101,75,0.40);
  --color-danger-light-default : rgba(249,101,75,0.20);
  --color-primary-light-hover : rgba(50,147,248,0.30);
  --color-primary-light-active : rgba(50,147,248,0.40);
  --color-primary-light-default : rgba(50,147,248,0.20);
  --color-success-light-hover : rgba(90,194,99,0.30);
  --color-success-light-active : rgba(90,194,99,0.40);
  --color-success-light-default : rgba(90,194,99,0.20);
  --color-warning-light-hover : rgba(251,166,51,0.30);
  --color-warning-light-active : rgba(251,166,51,0.40);
  --color-warning-light-default : rgba(251,166,51,0.20);
  --color-tertiary-light-hover : rgba(136,141,146,0.30);
  --color-tertiary-light-active : rgba(136,141,146,0.40);
  --color-tertiary-light-default : rgba(136,141,146,0.20);
  --color-secondary-light-hover : rgba(51,148,249,0.30);
  --color-secondary-light-active : rgba(51,148,249,0.40);
  --color-secondary-light-default : rgba(51,148,249,0.20)
  --ifm-color-primary: var(--text-blue-800);
  --ifm-color-primary-dark:  var(--color-primary);
  --ifm-color-primary-darker:  var(--color-primary);
  --ifm-color-primary-darkest:  var(--color-primary);
  --ifm-color-primary-light: var(--color-primary-light-default);
  --ifm-color-primary-lighter: var(--color-primary-light-hover);
  --ifm-color-primary-lightest: var(--color-primary-light-active);
  --ifm-color-success-dark: var(--color-primary);
  --ifm-color-success-darker: var(--color-primary-hover);
  --ifm-color-success-darkest:var(--color-primary-active);
  --ifm-color-success-light: var(--color-primary-light-default);
  --ifm-color-success-lighter: var(--color-primary-light-hover);
  --ifm-color-success-lightest: var(--color-primary-light-active);
  --ifm-color-success-contrast-background: var(--color-primary-light-default)!important;
  --ifm-color-success-contrast-foreground: var(--color-primary-active);
  --ifm-background-color:var(--color-bg-0)!important;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-container-width: calc(100%-80px);
  --ifm-container-width-xl: calc(100%-80px);
  --ifm-heading-color:var(--color-text-0);
  --ifm-color-content:var(--color-text-0);
  --ifm-heading-color:var(--color-text-0);
  --ifm-color-content:var(--color-text-0);
  --ifm-menu-color:var(--color-text-0);
  --ifm-menu-color-background-active: var(--bg-blue-100);
  --ifm-menu-color-background-hover: var(--color-fill-1);
  --ifm-font-weight-bold: 700;
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-toc-link-color:var(--color-text-2);
  --ifm-toc-border-color: hsl(var(--border))!important;
  --ifm-breadcrumb-item-background-active: var(--color-fill-1);
  --docusaurus-tag-list-border: hsl(var(--border))!important;
  --ifm-alert-background-color-highlight:var(--color-bg-1);
  --ifm-table-border-color: hsl(var(--border));
  --ifm-table-stripe-background: hsl(var(--muted));
  --ifm-navbar-background-color:var(--color-bg-0);
  --ifm-footer-background-color:var(--color-fill-0);
  --ifm-footer-color: var(--color-text-1);
  --search-local-modal-background:var(--color-bg-1);
  --ifm-color-content-secondary: hsl(var(--border));
  --ifm-font-color-base: rgb(241 245 249);
  --ifm-menu-color-active: var(--text-blue-800);
  --ifm-table-cell-color: var(--foreground);
  --ifm-tabs-color: hsl(var(--muted-foreground));
  --ifm-card-border-radius: calc(var(--radius) - 2px);
  --ifm-card-background-color: rgba(0,0,0,.2);
  --ifm-try-card-free: rgb(9 19 49);
  --ifm-bg-cell: linear-gradient(90deg,#4f4f4f0d 1px,transparent 0),linear-gradient(180deg,#4f4f4f0d 1px,transparent 0);
  --ifm-mobile-bg-header: #030712;
  --databend-tool-bg: rgb(29 29 29);
  --color-primary-light-card:  #081f3a;
  --blue-5: rgb(1, 118, 248);
  --indigo-5: rgb(63, 80, 180);
  --prism-color2: #F8F8F2;
  --prism-background-color2: #121a2a;
}