// TOC start
.table-of-contents__link--active {
  font-weight: 600;
}
.table-of-contents {
  @include media {
    border-top: 1px solid hsl(var(--border))!important;
  }
}
button[class*='tocCollapsibleButton'] {
  @include media {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: -.025em;
    position: relative;
    &::after {
      display: none!important;
    }
    &::before {
      position: absolute;
      content: '';
      top: 35%;
      width: 8px!important;
      height: 8px!important;
      right: 1rem;
      background-color: transparent;
      border-left: 1px solid hsl(var(--muted-foreground));
      border-bottom: 1px solid hsl(var(--muted-foreground));
      transform: rotate(-45deg);
      display: inline-block;
      transition: transform var(--ifm-transition-fast);
      transform-origin: calc(8px / 2) 50%;
    }
  }
}
button[class*="tocCollapsibleButtonExpanded"] {
  @include media {
    &::before{
      transform: rotate(135deg);
    }
  }
}
// TOC end