[meta]
embedded_dir = "./.databend/"

# Remote Meta config
# [meta]
# endpoints = ["0.0.0.0:9191"]
# username = "root"
# password = "root"
# client_timeout_in_second = 60
# auto_sync_interval = 60

# Storage config.
[storage]
# fs | s3 | azblob | obs | oss
type = "fs"
allow_insecure = true

[storage.fs]
data_path = "./.databend/"

# To use S3-compatible object storage, uncomment this block and set your values.
# [storage.s3]
# bucket = "<your-bucket-name>"
# endpoint_url = "<your-endpoint>"
# access_key_id = "<your-key-id>"
# secret_access_key = "<your-account-key>"
# enable_virtual_host_style = false
