.wholePage {
  padding-top: 60px;
  width: 1280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  .download {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: var(--color-text-0);
  }
  .latest {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--color-text-0);
  }
  .latestBlock {
    display: flex;
    height: 396px;
    .latestVersion {
      width: 50%;
      border-right: 1px solid var(--color-border);
      .topTag {
        display: flex;
        gap: 8px;
      }
      .version{
        font-weight: 700;
        color: var(--color-text-0);
      }
      .updateTime {
        color: var(--color-text-1);
        margin-top: 4px;
        margin-bottom: 24px;
      }
    }
    .submitRecord {
      flex: 1;
      padding-left: 16px;
      overflow-y: auto;
      color: var(--color-text-0);
      h2, h3{
        font-size: 14px;
        margin-bottom: 12px;
        color: var(--color-text-0);
      }
      ul {
        padding-left: 24px;
      }
      li {
        line-height: 28px;
        list-style: disc;
      }
      a {
        text-decoration: underline;
      }
      strong {
        font-weight: 500;
      }
    }
    .nowAssets {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      row-gap: 12px;
      .nowItem {
        min-width: 294px;
        color: var(--color-white);
        background-color: var(--blue-5);
        @include align-c();
        gap: 14px;
        .right {
          div{
            font-size: 12px;
            &:first-child{
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
        &.nowItemLinux {
          background-color: var(--indigo-5);
        }
        &.nowItemLinuxUbuntu {
          background-color:  #ED6547;
        }
      }
    }

    @include media {
      flex-direction: column;
      height: auto;
      .latestVersion{
        width: 100%;
        border-right: unset;
      }
      .submitRecord {
        margin-top: 20px;
      }
      .nowAssets { 
        .nowItem { 
          width: 100%;
        }
      }
    }
  }
  .historyArea {
    padding-top: 40px;
    padding-bottom: 72px;
    color: var(--color-text-0);
    .historyTitle {
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      div{
        &:first-child{
          font-weight: 700;
        }
        a{
          font-weight: 700;
        }
      }
    }
    .listWrap {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      .button {
        display: flex;
        gap: 8px;
        background-color: var(--color-primary);
        color: var(--color-white);
        font-weight: 700;
        &.buttonLinux {
          background-color: var(--indigo-5);
        }
        &.buttonLinuxUbuntu {
          background-color: #ED6547;
        }
      }
      .listItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftDesc {
          display: flex;
          gap: 8px;
          .tagName {
            font-weight: 700;
          }
        }
        .downArea {
          display: flex;
          gap: 12px;
        }
      }
    } 
    @include media {
      .listWrap {
        .listItem {
          flex-direction: column;
          align-items: flex-start;
          row-gap: 12px;
          padding: 12px 12px!important;
          .downArea {
            flex-wrap: wrap;
            gap: 6px;
          }

        }
      }
    }
  }
  

  @include media {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    .download {
      font-size: 20px;
    }
    .latest {
      font-size: 12px;
      margin-bottom: 14px;
    }
  }
}
.preTag {
  color: var(--orange-5)!important;
  border: 1px solid #FA8801;
  background-color: unset!important;
}