.wrap {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-light-default);
  font-style: normal;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  .button{
    display: inline-block;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: 600;
    background-color: var(--color-primary)!important;
    color: var(--color-white);
    &:hover {
      color: var(--color-white);
    }
  }
  .desc {
    border-top: 1px solid var(--color-border);
    margin-top: 12px;
    padding-top: 12px;
    font-weight: 400;
    color: var(--color-text-0);
    a{
      font-weight: 600;
    }
  }
}