.blogPage {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-image: var(--image-bg);
    padding-top: 60px;
    padding-bottom: 60px;

    @include media {
        width: 100%;
        min-width: none !important;
        max-width: none;
        justify-content: center;
    }

    .blogPageTitle {
        font-size: 48px;
        font-weight: 800;
        line-height: 60px;
        color: var(--color-text-0);
    }

    .blogPageListTitle {
        padding: 32px 0;
        color: var(--color-text-0);
        font-size: 16px;
        line-height: 28px;
    }

    .popularTag {
        display: flex;
        gap: 12px;

        .item {
            padding: 6px 16px;
            font-weight: 700;
            background-color: var(--color-fill-0);
            border-radius: 6px;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid var(--color-primary);
            }
        }

        .activeItem {
            padding: 6px 16px;
            font-weight: 700;
            background-color: var(--color-primary);
            border-radius: 6px;
            color: white;
        }
    }

    .postList {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;

        .postListItem {
            &>a {
                display: flex;
                border-radius: 6px;
                flex-direction: column;
                align-items: flex-start;
                flex: 1;
                max-width: 412px;
                min-width: 411px;
                width: 100%;
                padding: 12px;
                background-color: var(--color-bg-1);
                border: 1px solid var(--color-border);
                transition:  all 0.2s;

                &:hover {
                    background-color: var(--color-bg-1);
                    box-shadow: 0 12px 16px rgb(1 14 41 / 3%), 0 4px 6px rgb(1 14 41 / 3%);
                    border: 1px solid transparent;
                    cursor: pointer;
                    transform:  translateY(-4px);
                }

                img,
                svg {
                    max-height: 160px;
                    margin-bottom: 12px;
                    object-fit: cover;
                    width: 100%;
                    border-radius: 6px;
                }

                .Tags {
                    display: flex;
                    gap: 8px;
                    padding: 4px 1px;
                    overflow: hidden;
                    width: inherit;

                    .Tag {
                        font-weight: 600;
                        background-color: var(--color-fill-1);
                        padding: 0 8px;
                        border-radius: 100px;
                        font-size: 14px;
                        white-space: nowrap;

                        &:hover {
                            color: var(--color-primary-active);
                            box-shadow: 0 0 0 1px var(--color-primary);
                        }
                    }

                    @include media{
                        flex-wrap: wrap;
                    }
                }

                .postListItemTitle {
                    height: 84px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    margin-bottom: 12px;

                    h4 {
                        font-size: 16px;
                        line-height: 32px;
                        height: fit-content;
                    }

                    p {
                        height: inherit;
                        font-size: 14px;
                    }
                }

                .postListDesc {
                    color: var(--color-text-2) !important;
                    font-size: 14px;
                }

                @include media{
                    min-width: inherit!important;
                }
            }
        }
    }

    &.blogPost {
        background-image: none;
        padding-top: 0;

        .postContent {
            padding: 32px;
            max-width: 1280px;
            width: 100%;
            display: flex;
            margin: 0 auto;
            justify-content: center;

            .postRecent {
                padding-left: 20px;
                position: sticky;
                top: 80px;
                max-width: 280px;

                ul {
                    margin-top: 20px;
                    padding: 0;
                    li {
                        font-size: 14px;
                        margin-bottom: 12px;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }
                @include media{
                    display: none;
                }

            }

            p {
                font-size: 16px;
            }

            .postContentTitle {
                display: flex;
                gap: 24px;
                flex-direction: column;
                color: var(--color-text-1);

                h1 {
                    font-size: 44px;
                    line-height: 64px;
                    font-weight: 700;
                    color: var(--color-text-0);
                    @include media{
                        font-size: 36px;
                        line-height: 48px;
                    }
                }

                .blogAuthors {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                        border-radius: 100%;
                        border: 1px solid var(--color-border);
                    }

                    h6 {
                        color: var(--color-primary);
                    }
                }

                .CoverImg{
                    border-radius: 6px;
                }

                .Date{
                    color: var(--color-text-2);
                    display: flex;
                    flex-wrap: wrap;

                    .Tag {
                        margin: 0 8px;
                    }
                }

                .postContentTitleReturn{
                    display: flex;
                    width: fit-content;
                    gap: 8px;
                    align-items: center;
                    color: var(--color-text-2);
                    font-weight: 600;
                    padding: 0 8px;
                    background-color: var(--color-fill-0);
                    border-radius: 6px;
                    &:hover{
                        background-color: var(--color-bg-1);
                        color: var(--color-primary-active);
                    }
                }
            }

            .ContentContainer {
                max-width: 960px;
                padding: 24px;

                .Content {
                    padding: 32px 0;

                    h1,
                    h2,
                    h3,
                    h4 {
                        margin-bottom: 24px;
                        margin-top: 16px;
                        font-weight: 600;
                    }

                    h5,
                    h6,
                    p {
                        margin-bottom: 16px;
                        margin-top: 12px;
                    }

                    hr {
                        margin-top: 32px;
                        margin-bottom: 32px;
                    }

                    ul li {
                        list-style: inside;
                        margin-bottom: 12px;
                        &::marker{
                            color: var(--color-primary);
                        }

                        p {
                            display: contents;
                        } 
                    }

                    ul {
                        padding-left: 12px;
                    }

                    img {
                        height: auto;
                        border-radius: 6px;
                    }

                    pre {
                        background-color: var(--color-bg-5);
                        color: white;
                        border: 2px solid var(--color-primary);
                        
                        code {
                            color: inherit!important;
                            background-color: inherit!important;
                            font-weight: inherit!important;
                        }
                    }

                    a {
                        font-weight: 600;

                        &:hover{
                            text-decoration: revert;
                        }
                    }
                    
                    strong {
                        font-weight: 600;
                    }

                    li,p{
                        color: var(--color-text-1);
                        code {
                            padding: 4px 6px;
                            border: none;
                            background-color: var(--color-primary-light-default);
                            color: var(--color-primary);
                            font-weight: 600;
                        }
                    }

                    blockquote {
                        background-color: var(--color-fill-0);
                        padding: 12px;
                    }

                    .AvatarCount{
                        display: inline-flex;
                        width: fit-content;
                        padding: 5px 12px;
                        background-color: var(--color-primary-light-default);
                        border-radius: 100px;
                        span{
                            color: var(--color-primary);
                            margin: 0!important;
                            line-height: 24px;
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .Connectwithus{
                        padding: 24px;
                        background-image: linear-gradient(194.35deg, rgba(1, 118, 248, 0.12) 19.68%, rgba(255, 255, 255, 0) 78.88%);
                        background-color: var(--color-bg-1);
                        border-radius: 12px;
                        box-shadow: 0 12px 16px rgb(1 14 41 / 3%), 0 4px 6px rgb(1 14 41 / 3%);
                        margin: 20px 0;
                        margin-top: 40px;
                        .Connecttype{
                            display: flex;
                            gap: 12px;
                            flex-wrap: wrap;
                            padding: 0;
                            margin: 0;
                            li{
                                margin: 0;
                                list-style: none;
                                background-color: var(--color-bg-1);
                                padding: 12px;
                                flex: 1;
                                border-radius: 6px;
                                transition: all 0.2s;
                                border: 0.5px solid transparent;
                                a{
                                    text-decoration: none;
                                    color: var(--color-text-0);
                                    p{
                                        font-size: 14px;
                                        font-weight: 400;
                                    }
                                }
                                &:hover{
                                    border-color: var(--color-primary);
                                    transform: translateY(-4px);
                                    cursor: pointer;
                                    box-shadow: 0 12px 16px rgb(1 14 41 / 3%), 0 4px 6px rgb(1 14 41 / 3%);
                                }
                                @include media{
                                    flex: none;
                                    width: 100%;
                                    border-color: var(--color-border);
                                }
                            }
                        }
                    }

                    .PostNav{
                        display: flex;
                        gap: 12px;
                        flex-wrap: wrap;
                        .navLink{
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            border-radius: 6px;
                            background-color: var(--color-fill-0);
                            padding: 12px;
                            border: 1px solid transparent;
                            &:last-child{
                                align-items: flex-end;
                                text-align: end;
                            }
                            p {
                                font-weight: 500;
                                margin: 0;
                                font-size: 14px;
                                color: var(--color-text-2);
                                display: flex;
                                align-items: center;
                                gap: 8px;
                            }
                            span{
                                font-size: 14px;
                            }
                            &:hover{
                                text-decoration: none!important;
                                background-color: var(--color-bg-1);
                                border-color: var(--color-primary);
                            }
                        }
                    }

                    .tagsBox{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 8px;
                        padding: 20px 0;

                        h5,a{
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            margin: 0;
                        }
                    }
                    
                }
                @include media{
                    max-width: 100%;
                    border-right: none;
                    padding: 0;
                    padding-top: 32px;
                }
            }
            @include media{
                padding: 0;
            }
        }
    }
    @include media{
        padding: 20px;
    }
}