.tag {
  display: inline-block;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--color-white);
  background-color: var(--color-primary );
  border-radius: 100px;
}