.Community{
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-top: 32px;
  h6{
    text-align: center;
    margin: 0;
    font-weight: 400;
    color: var(--color-text-1);
  }
  .CommunityGroup{
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  .communityItem{
    padding: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-fill-0);
    border-radius: 6px;
    border: 1px solid var(--color-border);
    min-width: 340px;
    width: 100%;
    h6{
      margin: 0;
      color:var(--color-text-0);
      font-weight: 700;
    }
    .Icon{
      padding: 6px;
      display: flex;
      color:var(--color-text-0)
    }
    &:hover{
      background-color: var(--color-primary-light-default);
      border-color: var(--color-primary);
      .Icon{
        color: var(--color-primary)!important;
      }
      h6{
        text-decoration: none!important;
        color: var(--color-primary);
      }
    }
    .tag{
      font-size: 14px;
      color: var(--color-text-1);
      background-color: var(--color-fill-1);
      padding: 0 4px;
      border-radius: 3px;
    }
  }
  }
}