.dot {
  display: inline-block;
  height: 1em;
  line-height: 1;
  text-align: left;
  vertical-align: -.25em;
  overflow: hidden;
  &::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap; 
    animation: dot 1s infinite step-start both; 
  }
} 
@keyframes dot { 
  33% { transform: translateY(-2em); } 
  66% { transform: translateY(-1em); } 
}