.card {
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg-1);
  margin-top: 12px;
  margin-bottom: 12px;
  .top {
    display: flex;
    gap: 12px;
    .name {
      color: var(--color-text-0);
      font-weight: 600;
    }
    .position {
      color: var(--color-text-2);
      font-size: 15px;
    }
    .avatar {
      width: 48px!important;
      height: 48px!important;
      border-radius: 50%!important;
      display: block;
      border: unset!important;
      background-color: unset!important;
      object-fit: unset!important;
      padding: unset!important;
      cursor: unset!important;
    }
  }
  .description {
    color: var(--color-text-1);
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
  }
  .date {
    color: var(--color-text-2);
    font-size: 15px;
    &.linkDate {
      font-weight: normal;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
