.codeWrap {
  position: relative;
  .copy {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 12px;
    padding: 0 5px;
    min-height: 26px;
    background-color: #3293f8;
    color: #fff;
    border-radius: 10px;
    transform: translateX(10px);
    transition: all .3s ease;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    &:hover{
      opacity: 1!important;
    }
  }
  &:hover {
    .copy {
      pointer-events: all;
      transform: translateX(0);
      opacity: .5;
    }
  }
  @include media {
   .copy{
    pointer-events: all;
    opacity: 0.7;
   }
  }
}
