.toolTip {
  table{
    opacity: 1!important;
  }
  a{
    font-size: bold;
    font-size: 16PX;
  }
}
.link{
  margin-right: 20px;
  background-color: $link-color;
  border: 1px solid $link-color;
  color: $colorWhite!important;
  &:last-child{
    margin-right: 0;
  }
  &:hover{
    background-color: $link-hover-color;
    border-color: $link-hover-color;
  }
  @include media{
    margin-top: mpx(10);
    margin-right: mpx(2);
  }
}