.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid hsl(var(--border));
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  border-radius: calc(var(--radius) - 2px);
}


.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  width: 100%;
  display: block;
  font-size: 0.8rem;
  color: hsl(var(--muted-foreground));
  font-size: .875rem;
  line-height: 1.25rem;
 
}
.databendCard {
  width: 100%!important;;
  gap: 1rem!important;;
  display: flex!important;;
  align-items: center!important;;
  justify-content: flex-start!important;;
}
.description {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.description h4 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.iconWrap {
  width: fit-content;
  background-color: var(--doc-index-list-icon-bg);
  padding: 0.563rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

