.card {
  background-color: var( --ifm-try-card-free);
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 1rem;
  margin-top: 12px;
  position: relative;
  z-index: 2;
  color: var(--color-text-0);
  .header {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    h6{
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
  .desc {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    .descItem {
      display: flex;
      align-items: center;
      gap: 4px;
      span:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 24px!important;
      }
      span:last-child {
        flex: 1;
      }
    }
  }
  .button {
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    background: var(--color-bg-5);
    color: #fff;
    &:hover {
      opacity: 0.9;
    }
  }
  .close {
    cursor: pointer;
    opacity: 0.7;
  }
  @include media {
    .card {
      display: none;
    }
  }
}