.description {
  color: var(--color-text-2);
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading));
  &.descriptionIncludesEE {
    border-bottom: unset;
    margin-bottom: 0;
  }
}